<!--<p><img src="../images/nancy-2-2x3.jpg" /><b>Welcome to Salon Savvy!</b>  Our Salon at 16615 Midland Drive, Shawnee, KS is conveniently located and easily accessible at I-435 and Midland Drive.  We are a full service salon and anxious for you to visit us.</p>
<br/>-->
<div class="text-content">
    <h2>About this Website</h2>
    <p>My good friend Nancy opened Salon Savvy a couple of years ago.   As an avid photographer, I have and continue to shoot all of her website and social media photos.  Nancy has often voiced her frustration over how long it took for her webmaster to post photos of new technicians on her web site, sometimes taking several weeks.  Nancy also mentioned that she wished she could find a better way to fill the void of last-minute customer cancellations.  I built this website in an effort to address these two problems.</p>
    <br />
    <p>My goals for this site are to incorporate the existing Salon Savvy branding while creating pages that are aesthetically pleasing, and to add functionality that will allow Nancy to keep her technician information current and improve customer traffic.  While I have made some progress on this site, I have much work remaining.  Here are my plans going forward for this web site: </p>
    <ul>
        <content>Items to complete</content>
        <li>
            Home Page
            <ul>
                <li>Add additional information about the salon on each side of the logo</li>
                <li>Create a smaller carousel that takes up less space</li>
                <li>Add additional pics to the carousel</li>
                <li>Add additional information about the salon on the home page</li>
            </ul>
        </li>
        <li>
            Login and Registration Pages
        </li>
        <li>
            Appointment Page
            <ul>
                <li>
                    Add logic to allow customers to request an appointment, update an appointment, and delete an appointment
                    <ul>
                        <li>Add logic to allow the technician to modify their schedule for the week</li>
                        <li>Ensure that requested appointments match up with technician skillsets</li>
                        <li>Ensure that requested appointment duration matches up with the requested available time slot</li>
                        <li>Ensure that the person requesting the appointment is logged in</li>
                        <li>Add logic to send email to the technician and the customer when an appointment is added, updated, or deleted</li>
                    </ul>
                </li>
                <li>Replace the table with something more attractive</li>
            </ul>
        </li>
        <li>
            Appointment Type Page
            <ul>
                <li>Show the appointment type menu item only to admin users</li>
                <li>Ensure that the person making a change is a logged-in admin user</li>
                <li>Replace the table with something more attractive</li>
            </ul>
        </li>
        <li>
            Technician Info Page
        <li>
            Create a page that will allow the admin to add, update, and delete technician information
            <ul>
                <li>Include the technician name, bio, days off, lunch time, and skillset</li>
                <li>Allow the admin to upload an appropriately-sized image of the technician</li>
                <li>Show the Technician Info menu item only to admin users</li>
                <li>Ensure that the person making a change is a logged-in admin user</li>
            </ul>
        </li>
        <li>
            Our Team Page
            <ul>
                <li>Create a page to showcase each technician</li>
                <li>Create a pop-up that will show the technician's bio and a larger image of the technician when the user clicks on a technician</li>
            </ul>
        </li>
    </ul>
</div>
    
