<h4>Need a last minute appointment?  Click on the day below to see our technician's availability for the upcoming week</h4>

<br />

<md-tabs>
        <md-tab class="all-tabs" label={{controller.scheduleDay1}}>
            
            <table border="1" class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Technician</th>
                        <th>9 AM</th>
                        <th>10 AM</th>
                        <th>11 AM</th>
                        <th>Noon</th>
                        <th>1 PM</th>
                        <th>2 PM</th>
                        <th>3 PM</th>
                        <th>4 PM</th>
                        <th>5 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in controller.schedule1">
                        <td>{{item.techName}}</td>
                        <td>{{item.nineAm}}</td>
                        <td>{{item.tenAm}}</td>
                        <td>{{item.elevenAm}}</td>
                        <td>{{item.noon}}</td>
                        <td>{{item.onePm}}</td>
                        <td>{{item.twoPm}}</td>
                        <td>{{item.threePm}}</td>
                        <td>{{item.fourPm}}</td>
                        <td>{{item.fivePm}}</td>
                    </tr>
                </tbody>
            </table>
        </md-tab>

        <md-tab class="all-tabs" label={{controller.scheduleDay2}}>

            <table border="1" class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Technician</th>
                        <th>9 AM</th>
                        <th>10 AM</th>
                        <th>11 AM</th>
                        <th>Noon</th>
                        <th>1 PM</th>
                        <th>2 PM</th>
                        <th>3 PM</th>
                        <th>4 PM</th>
                        <th>5 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in controller.schedule2">
                        <td>{{item.techName}}</td>
                        <td>{{item.nineAm}}</td>
                        <td>{{item.tenAm}}</td>
                        <td>{{item.elevenAm}}</td>
                        <td>{{item.noon}}</td>
                        <td>{{item.onePm}}</td>
                        <td>{{item.twoPm}}</td>
                        <td>{{item.threePm}}</td>
                        <td>{{item.fourPm}}</td>
                        <td>{{item.fivePm}}</td>
                    </tr>
                </tbody>
            </table>
        </md-tab>

        <md-tab class="all-tabs" label={{controller.scheduleDay3}}>

            <table border="1" class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Technician</th>
                        <th>9 AM</th>
                        <th>10 AM</th>
                        <th>11 AM</th>
                        <th>Noon</th>
                        <th>1 PM</th>
                        <th>2 PM</th>
                        <th>3 PM</th>
                        <th>4 PM</th>
                        <th>5 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in controller.schedule3">
                        <td>{{item.techName}}</td>
                        <td>{{item.nineAm}}</td>
                        <td>{{item.tenAm}}</td>
                        <td>{{item.elevenAm}}</td>
                        <td>{{item.noon}}</td>
                        <td>{{item.onePm}}</td>
                        <td>{{item.twoPm}}</td>
                        <td>{{item.threePm}}</td>
                        <td>{{item.fourPm}}</td>
                        <td>{{item.fivePm}}</td>
                    </tr>
                </tbody>
            </table>
        </md-tab>

        <md-tab class="all-tabs" label={{controller.scheduleDay4}}>

            <table border="1" class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Technician</th>
                        <th>9 AM</th>
                        <th>10 AM</th>
                        <th>11 AM</th>
                        <th>Noon</th>
                        <th>1 PM</th>
                        <th>2 PM</th>
                        <th>3 PM</th>
                        <th>4 PM</th>
                        <th>5 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in controller.schedule4">
                        <td>{{item.techName}}</td>
                        <td>{{item.nineAm}}</td>
                        <td>{{item.tenAm}}</td>
                        <td>{{item.elevenAm}}</td>
                        <td>{{item.noon}}</td>
                        <td>{{item.onePm}}</td>
                        <td>{{item.twoPm}}</td>
                        <td>{{item.threePm}}</td>
                        <td>{{item.fourPm}}</td>
                        <td>{{item.fivePm}}</td>
                    </tr>
                </tbody>
            </table>
        </md-tab>

        <md-tab class="all-tabs" label={{controller.scheduleDay5}}>

            <table border="1" class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Technician</th>
                        <th>9 AM</th>
                        <th>10 AM</th>
                        <th>11 AM</th>
                        <th>Noon</th>
                        <th>1 PM</th>
                        <th>2 PM</th>
                        <th>3 PM</th>
                        <th>4 PM</th>
                        <th>5 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in controller.schedule5">
                        <td>{{item.techName}}</td>
                        <td>{{item.nineAm}}</td>
                        <td>{{item.tenAm}}</td>
                        <td>{{item.elevenAm}}</td>
                        <td>{{item.noon}}</td>
                        <td>{{item.onePm}}</td>
                        <td>{{item.twoPm}}</td>
                        <td>{{item.threePm}}</td>
                        <td>{{item.fourPm}}</td>
                        <td>{{item.fivePm}}</td>
                    </tr>
                </tbody>
            </table>
        </md-tab>

        <md-tab class="all-tabs" label={{controller.scheduleDay6}}>

            <table border="1" class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Technician</th>
                        <th>9 AM</th>
                        <th>10 AM</th>
                        <th>11 AM</th>
                        <th>Noon</th>
                        <th>1 PM</th>
                        <th>2 PM</th>
                        <th>3 PM</th>
                        <th>4 PM</th>
                        <th>5 PM</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in controller.schedule6">
                        <td>{{item.techName}}</td>
                        <td>{{item.nineAm}}</td>
                        <td>{{item.tenAm}}</td>
                        <td>{{item.elevenAm}}</td>
                        <td>{{item.noon}}</td>
                        <td>{{item.onePm}}</td>
                        <td>{{item.twoPm}}</td>
                        <td>{{item.threePm}}</td>
                        <td>{{item.fourPm}}</td>
                        <td>{{item.fivePm}}</td>
                    </tr>
                </tbody>
            </table>
        </md-tab>

    </md-tabs>




