body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background: #215f00; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #215f00 , #e4e4d9); /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to left, #215f00 , #e4e4d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #dfe8e5; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #dfe8e5 10%, #8cab9c 74%, #537e6d 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #dfe8e5 10%,#8cab9c 74%,#537e6d 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #dfe8e5 10%,#8cab9c 74%,#537e6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfe8e5', endColorstr='#537e6d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.text-content {
    padding-left: 20px;
    padding-right: 20px;
}

#jumbobg {
    background-image: url('../ngapp/images/vickeys_pano_logo_attempt.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 960px;
}
.big-banner {
    display: block;
    margin: 0px auto;
    vertical-align: middle;
}

/* set image sizes*/
img.small {
    width: 330px;
    height: 210px;
}

img.carousel {
    width: 750px;
    height: 750px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
/* Center text*/
.center-text {
    text-align: center;
    color: #003e30;
    }

/* Info Page styling*/
#info-pg {
    color: #fcfcfc;
}

/*  left block styling */
.left-block {
    float: left;
    width: 600px;
    font-size: 130px;
    font-style: italic;
    margin: 10px 10px 10px 200px;
    padding: 40px;
    color: #fcfcfc;
}

/* Carousel */

.carousel-control.right, .carousel-control.left {
    background: transparent;
}

.gridStyle {
    border: 1px solid #999;
    max-width: 500px;
    height: 600px;
}

/* md-tabs */

/*md-tabs > md-tabs-wrapper {
  background-color: #931d59 !important;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: #931d59 !important;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {
  color: #931d59 !important;
}

md-tabs .md-tab[disabled], md-tabs .md-tab[disabled] md-icon {
  color: #931d59 !important;
}*/
.all-tabs {
    font-size:10px;
    color:#931d59;
    background: #931d59 !important;
}

/*md-tabs-canvas {
    background: #931d59;
    border: 1px solid #e1e1e1; 
    font-size:10px;

}*/

/* DivTable.com */
.divTable{
	display: table;
    border-style: solid;
    border-width: 2px;
	width: 100%;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
    font-weight: bold;
}
.divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
    font-weight: bold;
}
.divTableBody {
	display: table-row-group;
    background-color: #EEE;
}
.divTableRow {
	display: table-row;
    border-style: solid;
    border-width: 2px;
}
.divTableCell {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;

}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.noShow {
    display: none;
}

/* CSS Table settings */


#table {
    display: table;
    border-style: solid;
    border-width: 2px;
    width: 100%;


}
.row {
    display: table-row;
    height:100px;
    border-style: solid;
    border-width: 2px;
}

.col
{
display: table-cell;
text-align: center;
vertical-align: top;
border-style: solid;
border-width: 2px;
}

.cell {
    display: table-cell
}


/* md-card image*/
.img-fixed {
    height: 100px;
    width: 100px;
}